<p>
  <button type="button" class="{{modifier_class}}">Standard button</button>
  <button type="button" class="{{modifier_class}}" disabled>disabled button</button>
</p>
<p>
  <button type="submit" class="{{modifier_class}}">Submit button</button>
  <button type="submit" class="{{modifier_class}}" disabled>Disabled submit button</button>
</p>
<p>
  <button type="reset" class="{{modifier_class}}">Reset button</button>
  <button type="reset" class="{{modifier_class}}" disabled>Disabled reset button</button>
</p>
<p>
  <input type="button" class="{{modifier_class}}" value="Input button">
  <input type="button" class="{{modifier_class}}" value="Disabled input button" disabled>
</p>
<p>
  <input type="submit" class="{{modifier_class}}" value="Input submit button">
  <input type="submit" class="{{modifier_class}}" value="Disabled input submit button" disabled>
</p>
<p>
  <input type="reset" class="{{modifier_class}}" value="Input reset button">
  <input type="reset" class="{{modifier_class}}" value="Disabled input reset button" disabled>
</p>

<p>
  <button class="button-sm {{modifier_class}}" type="button">Small Button</button>
  <button class="button-sm {{modifier_class}}" type="button" disabled>Disabled Small Button</button>
</p>

<p>
  <button class="button-icon {{modifier_class}}" type="button">Button / icon</button>
  <button class="button-icon {{modifier_class}}" type="button" disabled>Disabled Button / icon</button>
</p>

<p>
  <button class="button-inverted {{modifier_class}}" type="button">Inverted Button</button>
  <button class="button-inverted {{modifier_class}}" type="button" disabled>Disabled Inverted Button</button>
</p>

<p>
  <button class="button-sm button-inverted {{modifier_class}}" type="button">Small Inverted Button</button>
  <button class="button-sm button-inverted {{modifier_class}}" type="button" disabled>Disabled Small Inverted Button</button>
</p>

<p>
  <button class="button-icon button-inverted {{modifier_class}}" type="button">Inverted Button / icon</button>
  <button class="button-icon button-inverted {{modifier_class}}" type="button" disabled>Disabled Inverted Button / icon</button>
</p>
